<!DOCTYPE html>
<html
  style="background: -moz-radial-gradient(bottom left, ellipse cover,  <%= @resources.first.colors.first %> -5%,<%= @resources.first.colors.second %> 15%,<%= @resources.first.colors.third %> 53%,<%= @resources.first.colors.last %> 100%);
  background: -webkit-radial-gradient(bottom left, ellipse cover,  <%= @resources.first.colors.first %> -5%,<%= @resources.first.colors.second %> 15%,<%= @resources.first.colors.third %> 53%,<%= @resources.first.colors.last %> 100%);
  background: radial-gradient(ellipse at bottom left,  <%= @resources.first.colors.first %> -5%,<%= @resources.first.colors.second %> 15%,<%= @resources.first.colors.third %> 53%,#<%= @resources.first.colors.last %>100%);"
>
<head>
  <title>Lo-Sky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


-webkit-radial-gradient(bottom left, ellipse cover, #3C97E6 -5%, #E92C19 15%,#5C4484 53%, #151B39 100%)
