<!DOCTYPE html>
<html
  style="background: -moz-radial-gradient(60% bottom, ellipse cover,  <%= @resources.first.colors.last %> 0%,<%= @resources.first.colors.third %> 15%,<%= @resources.first.colors.second %> 53%,<%= @resources.first.colors.first %> 100%);
  background: -webkit-radial-gradient(60% bottom, ellipse cover,  <%= @resources.first.colors.last %> 0%,<%= @resources.first.colors.third %> 15%,<%= @resources.first.colors.second %> 53%,<%= @resources.first.colors.first %> 100%);
  background: radial-gradient(ellipse at 60% bottom,  <%= @resources.first.colors.last %> 0%,<%= @resources.first.colors.third %> 15%,<%= @resources.first.colors.second %> 53%,#<%= @resources.first.colors.first %>100%);"
>
<head>
  <title>Lo-Sky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
