<!DOCTYPE html>
<html style="background: -moz-linear-gradient(top,  <%= @resources.first.colors.first %> 0%, <%= @resources.first.colors.second %> 75%, <%= @resources.first.colors.third %> 87%, <%= @resources.first.colors.last %> 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  <%= @resources.first.colors.first %> 0%,<%= @resources.first.colors.second %> 75%,<%= @resources.first.colors.third %> 87%,<%= @resources.first.colors.last %> 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  <%= @resources.first.colors.first %> 0%,<%= @resources.first.colors.second %> 75%,<%= @resources.first.colors.third %> 87%,<%= @resources.first.colors.last %> 100%); /* W3C */">
<head>
  <title>Lo-Sky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
