<!DOCTYPE html>
<html
  style="background: -moz-radial-gradient(center, ellipse bottom,  <%= @resources.first.colors.first %> 0%, <%= @resources.first.colors.second %> 20%, <%= @resources.first.colors.third %> 42%, <%= @resources.first.colors.last %> 100%);
  background: -webkit-radial-gradient(center, ellipse bottom,  <%= @resources.first.colors.first %> 0%, <%= @resources.first.colors.second %> 20%,<%= @resources.first.colors.third %> 42%,<%= @resources.first.colors.last %> 100%);
  background: radial-gradient(ellipse at bottom,  <%= @resources.first.colors.first %> 0%, <%= @resources.first.colors.second %> 20%,<%= @resources.first.colors.third %> 42%,#<%= @resources.first.colors.last %>100%);"
>
<head>
  <title>Lo-Sky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
